img.logo {
    height     : 4.2rem;
    margin-top : 1.46rem;
    margin-left: 1.46rem;
}

div.contributors {
    margin-right: 1.46rem;
    float       : right;
    height      : 7rem;
    align-items : center;
    display: flex;
}

a.card-link {
    font-size: 2rem;
}

div.footer {
    background-color: var(--tud-blau-100);
    width           : 100%;
    height          : 18.3rem;
}

div.card-text {
    padding-bottom: 5rem;
}

div.footer-information {
    height     : 15.3rem;
    width      : 20rem;
    margin-left: 1.46rem;
}

div.links {
    width       : 20rem;
    height      : 3rem;
    margin-right: 1.46rem;
    float       : right;
    display     : flex;
    align-items : center;
}

div.header {
    height: 7rem
}

span.header-text {
    display: none;
}

span.information-text {
    color      : white;
    font-family: "Open Sans", serif;
    font-size  : 1rem;
    display    : inline-block;
    margin-top : 2.13rem;
    margin-left: 2.4rem;
}

a.footer-a {
    color       : white;
    font-size   : 1rem;
    margin-left : auto;
    margin-right: auto;
}

div.wrapper {
    display              : grid;
    grid-template-columns: repeat(12, 5.35%);
    grid-auto-rows       : minmax(0px, auto);
    column-gap           : 3.05%;
    row-gap              : 2rem;
    margin-left: 3%;
    margin-right: 3%;
}

.s1 {
    grid-column-end: span 1;
}

.s2 {
    grid-column-end: span 2;
}

.s3 {
    grid-column-end: span 3;
}

.s4 {
    grid-column-end: span 4;
}

.s5 {
    grid-column-end: span 5;
}

.s6 {
    grid-column-end: span 6;
}

.s7 {
    grid-column-end: span 7;
}

.s8 {
    grid-column-end: span 8;
}

.s9 {
    grid-column-end: span 9;
}

.s10 {
    grid-column-end: span 10;
}

.s11 {
    grid-column-end: span 11;
}

.s12 {
    grid-column-end: span 12;
}

.vcard-content {
    width: 100%;
    grid-column-end: span 2;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.vcard-image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--tud-grau-70);
    grid-column-end: span 2;
}

div.vcard-text-container {
    border-top: 1px solid var(--tud-grau-70);
    grid-column-end: span 2;
}

.image {
    width: 100%;
    grid-column-end: span 2;
}