@import url("fonts.css");
@import url("colors.css");
@import url("mobile.css") (max-width: 899px);
@import url("desktop.css") (min-width: 900px);

body {
    margin: 0;
}

div.content {
    margin: 0.53rem;
}

div.wrapper {
    display              : grid;
    grid-template-columns: repeat(16, 4.0697%);
    grid-auto-rows       : minmax(0px, auto);
    column-gap           : 2.3255%;
    row-gap              : 2rem;
}

div.header {
    height          : 5.3rem;
    width           : 100%;
    background-color: var(--tud-blau-100);
    align-items     : center;
}

div.footer-links {
    height    : 3rem;
    border-top: dotted white 0.06rem;
}

span.header-text {
    color       : white;
    font-family: "Open Sans", serif;
    font-size   : 1rem;
    margin-right: 2rem;
}

div.full-width {
    grid-column-start: 1;
    grid-column-end  : 17;
}

div.content-width {
    grid-column-start: 3;
    grid-column-end  : 15;
}

img.footer-logo {
    height      : 2.4rem;
    margin-top  : 2.13rem;
    margin-right: 11.6rem;
}

img.contributor-logo {
    height: 2.4rem;
}

#grid {
    margin-bottom: 0.66rem;
}

#A {
    background-color : var(--tud-blau-100);
    grid-column-start: 1;
    grid-column-end  : 9;
}

#B {
    background-color : var(--tud-blau-80);
    grid-column-start: 9;
    grid-column-end  : 17;
}

#C {
    background-color : var(--tud-blau-60);
    grid-column-start: 6;
    grid-column-end  : 12;
}

h1 {
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size  : 1.6rem;
    line-height: 130%;
    text-transform: uppercase;
}

h2 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size  : 1.46rem;
    line-height: 130%;
}

h3 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size  : 1.26rem;
    line-height: 130%;
}

h4 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size  : 1.06rem;
    line-height: 130%;
}

h5 {
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size  : 1rem;
    line-height: 120%;
}

p {
    font-family: "Open Sans", serif;
    font-size  : 1rem;
    line-height: 170%;
}

figcaption {
    font-family: "Open Sans", serif;
    font-size  : 0.8rem;
    line-height: 150%;
}

a {
    font-family    : "Open Sans", serif;
    font-size      : 1rem;
    line-height    : 170%;
    color          : var(--tud-link-color);
    text-decoration: none;
}

a.versalien {
    text-transform: uppercase;
    line-height   : 130%;
    color         : black;
}

a.button {
    text-transform  : uppercase;
    font-size       : 0.9rem;
    line-height     : 150%;
    color           : white;
    background-color: var(--tud-button-color);
    border-style    : solid;
    border-width    : 0.4rem;
    border-color    : var(--tud-button-color);
}
